<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <form method="post" >
    <h2>External dot.html</h2>
    <label for="">Software</label>
    <input type="text" name="se"><br><br>
    <label for="">ComputerNetworks</label>
    <input type="text" name="cn"><br><br>
    <label for="">IOT</label>
    <input type="text" name="iot"><br><br>
    <h2>Internal dot.html</h2>
    <label for="">Software</label>
    <input type="text" name="intse"><br><br>
    <label for="">ComputerNetworks</label>
    <input type="text" name="intcn"><br><br>
    <label for="">IOT</label>
    <input type="text" name="intiot"><br><br>
    <button>submit</button>

</form>
    {{ result }}
</center>
</body>
</html>