<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hi this is my first redirected web page</h1>
    <h2>redirected by ush route</h2>
    <!--<form method="post">
        <label>Name:</label>
        <input type="text" name="name"><br><br>
        <label>branch:</label>
        <input type="text" name="branch"><br><br>
        <label>marks:</label>
        <input type="text" name="marks"><br><br>
        <button>submit</button>
    </form>>----
</body>
</html>